/**
 * Border Color Variables
 *
 * Usage Guidelines:
 * - If the border line is used on top of `bg-background`, it should use `--border-medium`
 * - If the border line is used on top of `bg-card`, it should use `--border-light`
 */

:root {
  /* Default border color */
  --border: oklch(0.922 0 0);
  /* Use on top of bg-card */
  --border-light: var(--gray-4);
  /* Use on top of bg-background */
  --border-medium: var(--gray-6);
  /* High contrast border for emphasis */
  --border-highlight: oklch(1 0 0 / 95%);
}

.dark {
  /* Default border color */
  --border: oklch(1 0 0 / 10%);
  /* Use on top of bg-card */
  --border-light: var(--gray-3);
  /* Use on top of bg-background */
  --border-medium: var(--gray-3);
  /* High contrast border for emphasis */
  --border-highlight: oklch(1 0 0 / 3%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
