:root {
  --shadow-button-primary: 0px 3px 3px -1.5px rgba(0, 0, 0, 0.2),
    0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 12px 12px -6px rgba(0, 0, 0, 0.2),
    0px 24px 24px -12px rgba(0, 0, 0, 0.2);
  --shadow-button-primary-hover: 0px 3px 3px -3px rgba(0, 0, 0, 0.2),
    0px 6px 6px -6px rgba(0, 0, 0, 0.2), 0px 12px 12px -12px rgba(0, 0, 0, 0.2),
    0px 24px 24px -24px rgba(0, 0, 0, 0.2);
}

.dark {
  --shadow-button-primary: 0px 3px 3px -1.5px rgba(0, 0, 0, 0.2),
    0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 12px 12px -6px rgba(0, 0, 0, 0.2),
    0px 24px 24px -12px rgba(0, 0, 0, 0.2);
  --shadow-button-primary-hover: 0px 3px 3px -3px rgba(0, 0, 0, 0.2),
    0px 6px 6px -6px rgba(0, 0, 0, 0.2), 0px 12px 12px -12px rgba(0, 0, 0, 0.2),
    0px 24px 24px -24px rgba(0, 0, 0, 0.2);
}

@theme inline {
  --shadow-button-primary: var(--shadow-button-primary);
  --shadow-button-primary-hover: var(--shadow-button-primary-hover);
}
