/*
* button.css
*
* Button-specific styles and CSS variables
*/

:root {
  /* Button */
  --ghost: transparent;
  --ghost-foreground: var(--gray-11);
}

.dark {
  /* Button */
  --ghost: transparent;
  --ghost-foreground: var(--gray-12);
}

@theme inline {
  /* Button */
  --color-ghost: var(--ghost);
  --color-ghost-foreground: var(--ghost-foreground);
}
