/*
* dialog.css
*
* Dialog-specific styles and CSS variables
*/

@theme inline {
  /* Dialog */
  --color-dialog: var(--card);
  --color-dialog-title: var(--card-title);
  --color-dialog-description: var(--card-description);
  --color-dialog-border: var(--card-border);
  --color-dialog-shadow: var(--dialog-shadow);
}
