/*
* input.css
*
* Input-specific styles and CSS variables
*/

:root {
  /* Input Default */
  --input: var(--gray-7);
  --input-foreground: var(--gray-12);
  --input-destructive: var(--red-8);
  --caret: var(--color-blue-500);
}

.dark {
  /* Input Default */
  --input: var(--gray-3);
  --input-foreground: var(--gray-12);
  --input-destructive: var(--red-6);
  --caret: var(--color-blue-400);
}

@theme inline {
  /* Input Default */
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-input-destructive: var(--input-destructive);
  --color-caret: var(--caret);
}
