/*
* popover.css
*
* Popover-specific styles and CSS variables
*/

:root {
  /* Popover Default */
  --popover: var(--gray-2);
  --popover-foreground: var(--gray-12);
  --popover-border: var(--gray-1);
  --popover-focus: var(--gray-4);
}

.dark {
  /* Popover Default */
  --popover: var(--gray-2);
  --popover-foreground: var(--gray-12);
  --popover-border: var(--gray-1);
  --popover-focus: var(--gray-5);
}

@theme inline {
  /* Popover Default */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-focus: var(--popover-focus);
  --color-popover-border: var(--popover-border);
}
