:root {
  --card: oklch(0.98 0 0 / 100%);
  --card-border: oklch(1 0 0 / 70%);

  --dialog: #f1f1f2;

  --popover: oklch(0.98 0 0 / 100%);
  --popover-border: oklch(1 0 0 / 70%);
}

.dark {
  --card: oklch(0.2 0 0 / 100%);
  --card-border: oklch(1 0 0 / 2%);

  --dialog: #0f0f0f;

  --popover: oklch(0.18 0 0 / 100%);
  --popover-border: oklch(1 0 0 / 2%);
}
